<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src = "https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="editor.css">
</head>
<body style="display:'grid'" >
<div class="first-column" style="grid-row: '1'">
    <div class="panel" >
        <h1>pingo</h1>
        <div class="box-buttons-panel-left">
             <input type = "button" class = "Mode" id = "SelectImage"  style="background-image: url(arrow.png); background-size: cover"/>
             <input type = "button" class = "Mode" id = "Brushes" style="background-image: url(brush.png); background-size: cover" />
             <input type = "button" class = "Mode" id = "Figures" style="background-image: url(figures.png); background-size: cover" />
             <input type = "button" class = "Mode" id = "Text" style="background-image: url(text.png); background-size: cover" />
             <input type = "button" class = "Mode" id = "Download" style ="background-image: url(download.png); background-size: cover" />
             <!--<input type = "button" class = "Mode" id = "Action1" style="background-image: url({% static 'img/action1.png' %}); background-size: cover"/>
             <input type = "button" class = "Mode" id = "Action2" style="background-image: url({% static 'img/action2.png' %}); background-size: cover"/>-->
        </div>
             <input type = "button" class = "Mode Right" id = "SettingRoom"  style="background-image: url(setting.png); background-size: cover"/>
             <input type = "button" class = "Mode Right" id = "Exit" style="background-image: url(exit.png); background-size: cover"/>
    </div>
     <div id = "Content" style = "width: 800px; height: 520px; position: relative; margin: auto; overflow: hidden;"></div>
</div>

<div class="second-column" style="grid-row: '1'">

<div class="settingInstruments" id="brushes_display" style="display:none;">
    <div class="text-text-Setting"> - Brushes - </div>
    <div class="text-Setting">
    <div class="instrumentCase">
        <input type = "button" class = "Mode instrumentsBrushes" id = "Marker"  style="background-image: url(marker.png); background-size: cover"/>
        <input type = "button" class = "Mode instrumentsBrushes" id = "Pencil"  style="background-image: url(pencil.png); background-size: cover"/>
        <input type = "button" class = "Mode instrumentsBrushes" id = "Eraser"  style="background-image: url(eraser.png); background-size: cover"/>
        <input type = "button" class = "Mode instrumentsBrushes" id = "Spray"  style="background-image: url(spray.png); background-size: cover"/>
        <input type = "button" class = "Mode instrumentsBrushes" id = "Fill"  style="background-image: url(placeholder.png); background-size: cover"/>
    </div>
     <div class="thicknessContainer">
     <div class="thickness">
     <div class="text-edit"> толщина </div>
     <input type="number" id = "ThicknessText" class="brushes-edit" />
      </div>
         <div>
             <input type="range" class="range-input" id = "ThicknessSlider" min="1" max="100" value="50">
         </div>
    </div>
        <div class="opacityContainer">
            <div class="opacity">
                <div class="text-edit"> непрозрачность </div>
                <input type="number" class="brushes-edit" id = "TransparencyText" />
            </div>
            <div>
                <input type="range" class="range-input" id = "TransparencySlider" min="1" max="255" value="127">
            </div>
        </div>
        <input type="color" class="main" />
        <div class="colors">
            <div class="twelve-box">
                <div class="box1">
                    <div style="background:#FFFFFF" class="twelve " ></div>
                    <div style="background:#C8C8C2" class="twelve " ></div>
                    <div style="background:#605F54" class="twelve " ></div>
                    <div style="background:#030303" class="twelve " ></div>
                    <div style="background:#B12B2B" class="twelve " ></div>
                    <div style="background:#FF0000" class="twelve " ></div>
                </div>
                <div class="box2">
                    <div style="background:#FFC700 " class="twelve " ></div>
                    <div style="background:#FFF500" class="twelve " ></div>
                    <div style="background:#24FF00" class="twelve " ></div>
                    <div style="background:#00FFF0" class="twelve " ></div>
                    <div style="background:#0047FF" class="twelve " ></div>
                    <div style="background:#EB00FF" class="twelve " ></div>
                </div>
            </div>
              <input type = "button" class = "addClass" id = "Add"  style="background-image: url(add.png); background-size: cover"/>
        </div>
</div>
</div>
    <div class="settingInstruments" id="figures_display" style="display:block;">
        <div class="text-text-Setting"> - Figures - </div>
        <div class="text-Setting">
        <div class="box-figures-Setting">
            <input type = "button" class = "Mode figuresIntSetting" id = "Line"  style="background-image: url(line.png); background-size: cover"/>
            <input type = "button" class = "Mode figuresIntSetting" id = "Rect"  style="background-image: url(square.png); background-size: cover"/>
            <input type = "button" class = "Mode figuresIntSetting" id = "Ellipse"  style="background-image: url(circle.png); background-size: cover"/>
            <input type = "button" class = "Mode figuresIntSetting" id = "Triangle"  style="background-image: url(triangle.png); background-size: cover"/>
        </div>
        </div>
    </div>
    <div class="settingInstruments" id="text_display" style="display:none;">
        <div class="text-text-Setting"> - Text - </div>
                <div class="text-Setting">
                    <div class="box-text">
                        <select name="select-text-Setting" >
                            <option selected value="s1"> Шрифт1 </option>
                            <option selected value="s2"> Шрифт2 </option>
                            <option selected value="s3"> Шрифт3 </option>
                            <option selected value="s4"> Arial </option>
                        </select>
                        <div class="size-text">
                            <select name="size-select-text" >
                                <option selected value="s1"> 5 </option>
                                <option selected value="s2"> 10 </option>
                                <option selected value="s3"> 15 </option>
                                <option selected value="s4"> 20</option>
                            </select>
                                <input type="color" class="icon-color" />
                        </div>
                        <div class="change-text">
                            <input type = "button" class = "buttons-text" id = "bold"  style="background-image: url(bold.png); background-size: cover"/>
                            <input type = "button" class = "buttons-text" id = "italic"  style="background-image: url(italic.png); background-size: cover"/>
                            <input type = "button" class = "buttons-text" id = "underline"  style="background-image: url(underline.png); background-size: cover"/>
                        </div>
                        <div class="change-position">
                            <input type = "button" class = "buttons-text2" id = "leftText"  style="background-image: url(left.png); background-size: cover"/>
                            <input type = "button" class = "buttons-text2" id = "centerText"  style="background-image: url(center.png); background-size: cover"/>
                            <input type = "button" class = "buttons-text2" id = "rightText"  style="background-image: url(right.png); background-size: cover"/>
                        </div>
                    </div>
                </div>
    </div>


    <div class="settingRoomInfo" id="settingRoomInfo">

        Your name:{{username}} {{username|json_script:"user-name"}}<br>
        Your status:<span id="my_status"> {{status}} {{status|json_script:"status"}}</span><br>
        Room name:{{room_name}} {{room_name|json_script:"room-name" }}<br>
        <div id="roommates">
            <ul id="list_roommates">
                Roommates: <br>{% for i in roommates %}
                    {% if i.name == username %}
                    {% else %}
                     <li id="li_{{i.name}}">
                        {{i.name}}:
                        {% if status == 'Creator' %}
                            <select name="select-name" onchange="ChangeStatus(this)" id = "{{i.name}}">
                                &#9
                                {% if i.status == 'Witness' %}
                                    <option id = "_witness">Witness</option>
                                    <option id = "_editor">Editor</option>
                                {% else %}
                                &#9
                                    <option id = "_editor">Editor</option>
                                    <option id = "_witness">Witness</option>
                                {%endif%}
                                <input type="button" id="delete_{{i.name}}" onclick="deleteUser(this)" value="X"></input>
                            </select>
                        {% else %}
                            <span id="{{i.name}}_status">{{i.status}}</span>
                        {% endif %}
                     {%endif%}
                     </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="chat">
        <textarea readonly id="chat-log" cols="100" rows="20"></textarea>
        <div class="textChat" >
            <input id="chat-message-input" type="text" size="100">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    <main>

    </main>
</div>
</div>
<script src = "functions.js"></script>
<script src = "instruments.js"></script>
<script src = "room.js"></script>
<script src = "chat.js"></script>
<script src = "editor.js"></script>
</body>
</html>